.saved-movies {
  max-width: 1280px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 70px;
}

@media (max-width: 850px) {
  .saved-movies {
    padding: 0 30px;
  }
}

@media (max-width: 520px) {
  .saved-movies {
    padding: 0 10px;
  }
}