.techs {
  max-width: 1280px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #F5F5F5;
  margin: 0 auto;
  padding: 100px 70px;
}

@media (max-width: 850px) {
  .techs {
    padding: 90px 50px;
  }
}

@media (max-width: 520px) {
  .techs {
    padding: 70px 18px;
  }
}

.techs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  margin: 90px 0 100px;
  padding: 0;
}

@media (max-width: 850px) {
  .techs__content {
    margin: 80px 0 83px;
    gap: 22px;
  }
}

@media (max-width: 520px) {
  .techs__content {
    margin: 60px 0 50px;
    gap: 24px;
  }
}

.techs__brief {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
  padding: 0;
  letter-spacing: -0.04em;
}

@media (max-width: 520px) {
  .techs__brief {
    font-size: 30px;
    line-height: 36px;
  }
}

.techs__subtitle {
  max-width: 460px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  letter-spacing: -0.04em;
}

@media (max-width: 850px) {
  .techs__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 520px) {
  .techs__subtitle {
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
  }
}

.cards {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 90px);
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 850px) {
  .cards {
    grid-template-columns: repeat(auto-fit, 84px);
  }
}

@media (max-width: 520px) {
  .cards {
    grid-template-columns: repeat(2, 84px);
  }
}

.cards__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background: #E8E8E8;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
}

@media (max-width: 850px) {
  .cards__item {
    min-height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}
